.filters {
  display: none;
}

body > .main-header .logo {
  font-family: 'Source Sans Pro', sans-serif;
}

.notifications {
  display: flex;
  justify-content: center;
}

.alert {
  position: absolute;
  top: 25px;
  z-index: 10000;
}

.checkbox-inline:first-child, .radio-inline:first-child {
  padding-left: 0;
}